<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-4 d-none d-sm-block" href="#">
      <img
        src="/assets/logo/pokeball.png"
        alt="Logo"
        width="60"
        height="60"
        class="d-inline-block text-align-center mx-4"
      />
      PokeApp
    </a>
    <button
      type="button"
      id="favorite-button"
      class="btn btn-light m-3 mx-auto mx-sm-0"
      (click)="openFavoriteModal(favoriteModal, favoritePokemon)"
    >
      <img
        src="/assets/logo/logo-pokebola.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block text-align-center m-2"
      />
      Pokemon Favorito
      <span class="fs-5" *ngIf="favoritePokemon.name">{{
        favoritePokemon.name | uppercase
      }}</span>
    </button>

    <ng-template
      class="border border-5 border-danger rounded-5"
      #favoriteModal
      let-modal
    >
      <div class="modal-header">
        <p class="modal-title fs-2">
          # {{ favoritePokemon.order }} {{ favoritePokemon.name | uppercase }}
        </p>
        <button
          type="button"
          class="btn-close"
          (click)="modal.dismiss()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="favoritePokemon; else noFavorite">
        <div class="container-fluid">
          <div class="row">
            <img
              [src]="favoritePokemon.pic"
              [alt]="favoritePokemon.name"
              class="w-[40px]"
            />
            <p class="fs-6">TIPO POKEMON</p>
            <ul class="list-group list-group-horizontal mb-2">
              <li
                class="list-group-item list-group-item-success m-2"
                *ngFor="let type of favoritePokemon.types"
              >
                {{ type.type.name | uppercase }}
              </li>
            </ul>
            <p></p>
            <p class="fs-5">
              Experiencia: {{ favoritePokemon.base_experience }}
            </p>
            <p class="fs-5">Altura: {{ favoritePokemon.height }} ft</p>
            <p class="fs-5">Peso: {{ favoritePokemon.weight }} kg</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-primary rounded-pill"
            (click)="modal.dismiss('cancel click')"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn btn-danger rounded-pill"
            (click)="removeFavoritePokemon(favoritePokemon.id)"
          >
            Eliminar de Favorito
          </button>
        </div>
      </div>
      <ng-template #noFavorite>
        <div class="container-fluid">
          <div class="row">
            <p class="fs-5">No tiene pokemon favorito</p>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</nav>
