<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo/pokeball.png" alt="Logo" width="60" height="60" class="d-inline-block text-align-center ">
      PokeApp 
    </a>
  </div>
  <div>
      Button trigger modal
<button type="button" class="btn btn-primary"  (click)="openFavoriteModal()" data-bs-toggle="modal" data-bs-target="#exampleModal" >
  Launch demo modal
</button>

<div class="modal fade" *ngIf="favoritePokemon" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="closeFavoriteModal()">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div> 
</nav>
