<div class="container text-center bg-warning-subtle border border-4 border-warning-subtle rounded-5 p-6 m-5">
  <p class="fs-2 my-4">POKE-ABC</p>
  <div class="row row-cols-5 m-3">
    <div *ngFor="let count of letterCounts" class="col">
      <div class="card text-bg-warning m-2" style="max-width: 18rem;">
        <div class="card-header fs-3 m-1" >{{count.letter | uppercase}}</div>
        <div class="card-body">
          <p class="card-title text-center fs-4">{{count.count}}</p>
        </div>
      </div>
    </div>
  </div>
</div>